@layer core, variants, overrides;

@layer overrides {
	.card {
		display: flex;
		margin: 2rem auto;
		max-width: 30rem;
	}

	.title {
		text-align: center;
	}

	.content {
		align-items: center;
		justify-content: center;
	}
}
