# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JSON, TypeScript, TSX
# https://www.reddit.com/r/javascript/comments/c8drjo/nobody_talks_about_the_real_reason_to_use_tabs/
[*.{json,ts,tsx}]
indent_size = 2
indent_style = tab

# CSS, SCSS
[*.{css,scss}]
indent_size = 2
indent_style = tab
trim_trailing_whitespace = true

# YAML
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# Markdown, Plaintext
[*.{md,txt}]
indent_style = space
indent_size = 1
trim_trailing_whitespace = false
