:root {
	/* Theme */
	--focus-color: var(--tertiary-color);
	--text-color: var(--off-black);
	--text-color-inverse: var(--off-white);
	--text-size: var(--body-1-font-size);
	--icon-color: var(--text-color);
	--icon-color-inverse: var(--text-color-inverse);

	/* Theme: Backgrounds */
	--primary-background-color: var(--off-white);
	--secondary-background-color: var(--off-white-tint);
	--tertiary-background-color: var(--off-black);

	/* Theme: Forms */
	--form-background-color: var(--primary-background-color);
	--form-border: 1px solid var(--secondary-color);
	--form-border-active: 2px solid var(--tertiary-color);
	--form-border-hover: 1px solid var(--tertiary-color);
	--form-text-color: var(--text-color);
	--form-icon-color: var(--form-text-color);
	--form-icon-color-engaged: var(--secondary-color-engaged);
	--form-icon-border-active: 1px solid var(--secondary-color);

	/* Accordion */
	--accordion-text-color: var(--text-color);
	--accordion-border-bottom: var(--secondary-color);
	--accordion-border-bottom-engaged: var(--primary-color);

	/* Alert */
	--alert-border-radius: var(--border-radius-4);
	--alert-box-shadow: var(--box-shadow-1);
	--alert-text-color: var(--text-color);

	/* Anchor */
	--anchor-color: var(--tertiary-color);
	--anchor-color-engaged: var(--tertiary-color-engaged);

	/* AppBar */
	--appbar-background-color: var(--primary-background-color);
	--appbar-text-color: var(--text-color);
	--appbar-position: absolute; /* absolute | sticky | fixed */

	/* Autocomplete */
	--autocomplete-background-color: var(--secondary-background-color);
	--autocomplete-border: 1px solid var(--text-color);
	--autocomplete-border-radius: var(--relative-border-radius-4);
	--autocomplete-text-color: var(--text-color);
	--autocomplete-placeholder-color: var(--grey);

	/* Breadcrumbs */
	--breadcrumb-color: var(--text-color);
	--breadcrumb-size: 0.875rem;

	/* Buttons */
	--button-border-radius: var(--spacing-48);
	--button-icon-color: var(--icon-color);
	--button-text-color: var(--text-color);
	--button-filled-background-color: var(--primary-color);
	--button-filled-background-color-engaged: var(--primary-color-engaged);
	--button-outlined-background-color-hover: var(--secondary-color-engaged);
	--button-outlined-border-color: var(--secondary-color);
	--button-outlined-border-color-engaged: var(--secondary-color-engaged);
	--button-transparent-background-color-hover: var(--secondary-color-engaged);

	/* Card */
	--card-background-color: var(--secondary-background-color);
	--card-border-radius: var(--border-radius-2);
	--card-box-shadow: var(--box-shadow-1);
	--card-spacing: var(--spacing-32);

	/* Checkbox Input (BaseCheckableInput) */
	--checkbox-color: var(--secondary-color);
	--checkbox-color-engaged: var(--primary-color);
	--checkbox-background-color-engaged: var(--secondary-color-engaged);

	/* Data Table */
	--data-table-head-color: var(--primary-background-color);
	--data-table-head-border-color: var(--secondary-color);
	--data-table-body-color: var(--primary-background-color);
	--data-table-body-color-engaged: var(--secondary-color-engaged);
	--data-table-body-color-selected: var(--off-black-tint-10);
	--data-table-body-border-color: var(--off-black-tint-20);
	--data-table-text-color: var(--text-color);
	--data-table-icon-color: var(--data-table-text-color);
	--data-table-icon-color-engaged: var(--secondary-color-engaged);
	--data-table-icon-border-active: 1px solid var(--secondary-color);

	/* DatePicker */
	--datepicker-accent-color: var(--primary-color);
	--datepicker-background-color: var(--secondary-background-color);
	--datepicker-outline: 0.125rem solid var(--primary-color);
	--datepicker-outline-selected: 0.125rem solid var(--primary-color);

	/* Dialog */
	--dialog-background-color: var(--secondary-background-color);
	--dialog-text-color: var(--text-color);
	--dialog-overlay-color: var(--off-black);
	--dialog-overlay-opacity: 0.5;
	--dialog-small-max-width: 37.5rem;
	--dialog-medium-max-width: 50rem;
	--dialog-large-max-width: 80rem;

	/* Divider */
	--divider-color: var(--text-color);
	--divider-height: 0.125em;

	/* ErrorPage */
	--error-page-title-size: 3.75rem;
	--error-page-subtitle-size: 1.5rem;

	/* File Uploader */
	--file-uploader-background-color: var(--secondary-background-color);
	--file-uploader-border: 1px dashed var(--text-color);
	--file-uploader-text-color: var(--text-color);

	/* Footer */
	--footer-background-color: var(--tertiary-background-color);
	--footer-text-color: var(--text-color-inverse);
	--footer-bottom-background-color: var(--tertiary-background-color);
	--footer-bottom-text-color: var(--text-color-inverse);
	--footer-logo-width: 19.94rem;
	--footer-logo-height: 7rem;

	/* List */
	--list-spacing: var(--spacing-8);
	--list-item-heading-line-height: var(--heading-line-height);
	--list-item-heading-font-size: 0.875em;
	--list-item-content-font-size: 0.75em;
	--list-item-content-line-height: var(--text-line-height);
	--list-item-content-text-color: var(--text-color);

	/* Loading */
	--loading-color: var(--primary-color);
	--loading-duration: 3s;
	--loading-text-color: var(--text-color);
	--loading-size: var(--spacing-24);

	/* Logo */
	--logo-color: var(--text-color);
	--logo-color-engaged: var(--primary-color-engaged);
	--logo-divider-color: var(--text-color); /* May not need this one depending on the fate of co-branding */
	--logo-size: var(--spacing-8);

	/* MenuList */
	--menu-list-background-color: var(--secondary-background-color);
	--menu-list-border-radius: var(--border-radius-2);
	--menu-list-box-shadow: inset 0 0 0 0.0625em var(--off-black);
	--menu-list-item-line-height: var(--heading-line-height);
	--menu-list-item-font-size: 0.875em;
	--menu-list-item-text-color: var(--text-color);
	--menu-list-item-engaged: var(--secondary-color-engaged);
	--menu-outlined-border-color: var(--secondary-color);

	/* NavBar */
	--navbar-border-radius: var(--border-radius-4);
	--navbar-link-background-color: var(--secondary-background-color);
	--navbar-link-background-color-engaged: var(--secondary-color-engaged);
	--navbar-link-border-color-selected: var(--primary-color);
	--navbar-text-color: var(--text-color);

	/* Overlay */
	--overlay-color: var(--off-black);
	--overlay-opacity: 0.5;

	/* Panel */
	--panel-background-color: var(--secondary-background-color);
	--panel-border-radius: var(--border-radius-6);
	--panel-box-shadow: var(--box-shadow-1);
	--panel-text-color: var(--text-color);

	/* Password */
	--password-background-color: var(--primary-background-color);
	--password-border: 1px solid var(--text-color);
	--password-border-radius: var(--relative-border-radius-4);
	--password-text-color: var(--text-color);
	--password-placeholder-color: var(--grey);

	/* Popover */
	--popover-arrow-size: calc(var(--spacing-8) * 1.5);
	--popover-background-color: var(--secondary-background-color);
	--popover-border-radius: var(--border-radius-6);
	--popover-box-shadow: var(--box-shadow-1);
	--popover-text-color: var(--text-color);

	/* Progress Bar */
	--progress-bar-color: var(--primary-color);
	--progress-bar-background-color: var(--background-color-1);
	--progress-bar-border-radius: var(--border-radius-4);
	--progress-bar-height: var(--spacing-8);
	--progress-bar-transition: width 0.5s;

	/* Radio */
	--radio-background-color: var(--grey);
	--radio-background-selected-color: var(--primary-color);
	--radio-text-color: var(--text-color);
	--radio-size: var(--spacing-24);

	/* Select */
	--select-background-color: var(--secondary-background-color);
	--select-border: 1px solid var(--text-color);
	--select-border-radius: var(--relative-border-radius-4);
	--select-text-color: var(--text-color);
	--select-placeholder-color: var(--grey);

	/* Stepper */
	--stepper-background-color: var(--secondary-background-color);
	--stepper-link-background-color: var(--secondary-background-color);
	--stepper-link-background-color-selected: var(--primary-color);
	--stepper-link-text-color: var(--text-color);
	--stepper-link-text-color-selected: var(--text-color);

	/* Table */
	--table-header-background-color: var(--secondary-color);
	--table-body-background-color: var(--secondary-background-color);
	--table-border: 1px solid var(--text-color);
	--table-row-box-shadow: var(--box-shadow-1);
	--table-text-color: var(--text-color);

	/* Tabs */
	--tab-background-color-selected: var(--primary-color);
	--tab-border: 1px solid var(--secondary-color);
	--tab-border-selected: 1px solid var(--primary-color);
	--tab-text-color: var(--text-color);

	/* Tag */
	--tag-background-color: var(--primary-color);
	--tag-border: 1px solid var(--primary-color);
	--tag-border-radius: var(--relative-border-radius-4);
	--tag-text-color: var(--text-color);

	/* Text Area */
	--text-area-background-color: var(--secondary-background-color);
	--text-area-border: 1px solid var(--primary-color);
	--text-area-border-radius: var(--relative-border-radius-4);
	--text-area-text-color: var(--text-color);
	--text-area-placeholder-color: var(--grey);

	/* Text Input */
	--text-input-background-color: var(--secondary-background-color);
	--text-input-border: 1px solid var(--secondary-color);
	--text-input-border-engaged: 2px solid var(--tertiary-color);
	--text-input-border-radius: var(--relative-border-radius-4);
	--text-input-text-color: var(--text-color);
	--text-input-placeholder-color: var(--grey);

	/* Tooltip */
	--tooltip-background-color: var(--secondary-color);
	--tooltip-box-shadow: var(--box-shadow-1);
	--tooltip-text-color: var(--text-color-inverse);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	color: var(--text-color);
	font-family: var(--text-font-family);
	font-size: var(--body-1);
	font-weight: var(--text-font-weight);
	line-height: var(--text-line-height);
	text-rendering: optimizelegibility;
}
