@font-face {
	font-family: Arimo;
	src: url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap') format('woff2');
}

@font-face {
	font-family: 'Arizona Flare';
	font-style: normal;
	font-weight: 300;
	src: url('https://fonts.ge.com/fonts/Arizona+Flare/ABCArizonaFlare-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Arizona Flare';
	font-style: italic;
	font-weight: 300;
	src: url('https://fonts.ge.com/fonts/Arizona+Flare/ABCArizonaFlare-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: Helveesti;
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.ge.com/fonts/Helveesti/ABCHelveesti-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Helveesti;
	font-style: italic;
	font-weight: 400;
	src: url('https://fonts.ge.com/fonts/Helveesti/ABCHelveesti-RegularItalic.woff2') format('woff2');
}

@font-face {
	font-family: Helveesti;
	font-style: normal;
	font-weight: 700;
	src: url('https://fonts.ge.com/fonts/Helveesti/ABCHelveesti-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Helveesti;
	font-style: italic;
	font-weight: 700;
	src: url('https://fonts.ge.com/fonts/Helveesti/ABCHelveesti-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: Maitree;
	font-weight: 300;
	src: url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap') format('woff2');
}

:root {
	/* Core: Font Families */
	--arial: 'Arial';
	--arimo: 'Arimo';
	--arizona-flare: 'Arizona Flare';
	--georgia: 'Georgia';
	--helveesti: 'Helveesti';
	--helvetica: 'Helvetica';
	--helvetica-neue: 'Helvetica Neue';
	--maitree: 'Maitree';

	/* Core: Font Styles */
	--font-style-normal: normal;
	--font-style-italic: italic;
	--font-style-oblique: oblique;

	/* Core: Font Weights */
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	/* Core: Line Heights */
	--line-height-standard: 150%;
	--line-height-smaller: 130%;
	--line-height-smallest: 100%;

	/* Core: Letter Spacing */
	--letter-spacing-condensed: -0.005em;
	--letter-spacing-standard: 0.0012em;

	/* Specialized: Heading Properties */
	--heading-font-family: var(--arizona-flare), var(--maitree), var(--georgia), serif;
	--heading-font-weight: var(--font-weight-light);
	--heading-line-height: var(--line-height-smallest);
	--heading-letter-spacing: var(--letter-spacing-condensed);

	/* Specialized: Body Properties */
	--text-font-family: var(--helveesti), var(--helvetica-neue), var(--helvetica), var(--arimo), var(--arial), sans-serif;
	--text-font-weight: var(--font-weight-regular);
	--text-line-height: var(--line-height-standard);
	--text-letter-spacing: var(--letter-spacing-standard);

	/* Specialized: Heading Sizes */
	--heading-1-font-size: 2.027rem;
	--heading-2-font-size: 1.802rem;
	--heading-3-font-size: 1.602rem;
	--heading-4-font-size: 1.424rem;
	--heading-5-font-size: 1.266rem;
	--heading-6-font-size: 1.125rem;

	/* Specialized: Body Sizes */
	--body-1-font-size: 1rem;
	--body-2-font-size: 1.125rem;

	/* Specialized: Label Sizes */
	--label-1-font-size: 1rem;
	--label-2-font-size: 0.875rem;

	/* Specialized: HTML Heading Sizes */
	--h1-font-size: var(--heading-1-font-size);
	--h2-font-size: var(--heading-2-font-size);
	--h3-font-size: var(--heading-3-font-size);
	--h4-font-size: var(--heading-4-font-size);
	--h5-font-size: var(--heading-5-font-size);
	--h6-font-size: var(--heading-6-font-size);

	/* Specialized: Headings */
	--heading-1: var(--heading-font-weight) var(--heading-1-font-size)/var(--heading-line-height) var(--heading-font-family);
	--heading-2: var(--heading-font-weight) var(--heading-2-font-size)/var(--heading-line-height) var(--heading-font-family);
	--heading-3: var(--heading-font-weight) var(--heading-3-font-size)/var(--heading-line-height) var(--heading-font-family);
	--heading-4: var(--heading-font-weight) var(--heading-4-font-size)/var(--heading-line-height) var(--heading-font-family);
	--heading-5: var(--heading-font-weight) var(--heading-5-font-size)/var(--heading-line-height) var(--heading-font-family);
	--heading-6: var(--heading-font-weight) var(--heading-6-font-size)/var(--heading-line-height) var(--heading-font-family);

	/* Specialized: Body */
	--body-1: var(--text-font-weight) var(--body-1-font-size)/var(--text-line-height) var(--text-font-family);
	--body-2: var(--text-font-weight) var(--body-2-font-size)/var(--text-line-height) var(--text-font-family);

	/* Specialized: Labels */
	--label-1: var(--font-weight-bold) var(--label-1-font-size)/var(--line-height-smaller) var(--text-font-family);
	--label-2: var(--text-font-weight) var(--label-2-font-size)/var(--line-height-smaller) var(--text-font-family);
}

/** NOTE: This is a PostCSS @custom-media query defined in _breakpoints.css **/
/** SEE: https://www.npmjs.com/package/postcss-custom-media                **/
@media --md {
	:root {
		/* Specialized: Heading Sizes */
		--heading-1-font-size: 2.986rem;
		--heading-2-font-size: 2.488rem;
		--heading-3-font-size: 2.074rem;
		--heading-4-font-size: 1.728rem;
		--heading-5-font-size: 1.44rem;
		--heading-6-font-size: 1.2rem;
	}
}