:root {
	/* Spatial Scale */
	--spacing-8: var(--base-length);
	--spacing-16: calc(var(--spacing-8) * 2);
	--spacing-24: calc(var(--spacing-16) + var(--spacing-8));
	--spacing-32: calc(var(--spacing-24) + var(--spacing-8));
	--spacing-40: calc(var(--spacing-32) + var(--spacing-8));
	--spacing-48: calc(var(--spacing-40) + var(--spacing-8));
	--spacing-56: calc(var(--spacing-48) + var(--spacing-8));
	--spacing-64: calc(var(--spacing-56) + var(--spacing-8));
	--spacing-72: calc(var(--spacing-64) + var(--spacing-8));
	--spacing-112: calc(var(--spacing-72) + var(--spacing-40));

	/* Relative Spatial Scale */
	--relative-spacing-8: var(--relative-base-length);
	--relative-spacing-16: calc(var(--relative-spacing-8) * 2);
	--relative-spacing-24: calc(var(--relative-spacing-16) + var(--relative-spacing-8));
	--relative-spacing-32: calc(var(--relative-spacing-24) + var(--relative-spacing-8));
	--relative-spacing-40: calc(var(--relative-spacing-32) + var(--relative-spacing-8));
	--relative-spacing-48: calc(var(--relative-spacing-40) + var(--relative-spacing-8));
	--relative-spacing-56: calc(var(--relative-spacing-48) + var(--relative-spacing-8));
	--relative-spacing-64: calc(var(--relative-spacing-56) + var(--relative-spacing-8));
	--relative-spacing-72: calc(var(--relative-spacing-64) + var(--relative-spacing-8));
	--relative-spacing-112: calc(var(--relative-spacing-72) + var(--relative-spacing-40));
}